@font-face {
  font-family: "Meritta";
  src: url("../assets/font/meritta.woff"); }

@font-face {
  font-family: "Soage";
  src: url("../assets/font/Soage.ttf"); }

* {
  box-sizing: border-box; }

html,
body {
  background-color: #FFFFFF; }

.caption-title {
  font-family: 'Meritta';
  font-size: 200px;
  line-height: 125px; }

.last-caption-title {
  font-family: 'Meritta';
  font-size: 100px;
  line-height: 50px; }

.caption {
  font-family: 'Soage';
  font-size: 25px; }

.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px; }

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .parallax__layer img {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; }

.parallax__cover {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  height: 4000px;
  width: 100%;
  z-index: 2;
  padding-top: 1000px; }

.parallax__cover__mobile {
  display: none; }

.photo-row {
  display: table;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 150px;
  text-align: center; }

.photo-col {
  float: none;
  display: table-cell;
  width: 50%;
  padding: 30px;
  text-align: center;
  vertical-align: middle; }

.photo-col-r {
  float: none;
  display: table-cell;
  width: 50%;
  padding: 30px;
  text-align: center;
  vertical-align: middle; }

.last-page {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.last-page-div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center; }

.photo {
  display: block;
  margin: auto;
  width: 75%;
  visibility: hidden;
  transition: visibility cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s; }

.fadeIn {
  -webkit-animation: animat_show 0.8s;
  animation: animat_show 0.8s;
  visibility: visible !important; }

@-webkit-keyframes animat_show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.parallax__layer__0 {
  transform: translateZ(-150px) scale(2.5); }

.parallax__layer__1 {
  transform: translateZ(-100px) scale(2); }

.parallax__layer__2 {
  transform: translateZ(-50px) scale(1.5); }

.parallax__layer__3 {
  transform: translateZ(0px) scale(1); }

.parallax__layer img {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../assets/images/title.png) no-repeat;
  width: 3000px;
  height: 800px;
  padding-left: 3000px; }

#title {
  background: url(../assets/images/title.png) no-repeat; }

#sun-moon {
  background: url(../assets/images/sun-moon.png) no-repeat; }

#tya {
  background: url(../assets/images/tya.png) no-repeat; }

#hands {
  background: url(../assets/images/hands.png) no-repeat; }

@media only screen and (max-width: 1200px), only screen and (max-device-width: 1200px) {
  #title {
    background: url(../assets/images/title-md.png) no-repeat; }
  #sun-moon {
    background: url(../assets/images/sun-moon-md.png) no-repeat; } }

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  #title {
    background: url(../assets/images/title-sm.png) no-repeat; }
  #sun-moon {
    background: url(../assets/images/sun-moon-sm-tall.png) no-repeat;
    height: 1500px !important; }
  #tya {
    background: url(../assets/images/tya-sm.png) no-repeat; }
  #hands {
    background: url(../assets/images/hands-sm.png) no-repeat; }
  .parallax__layer img {
    height: 1000px; }
  .parallax__cover__mobile {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    height: 4000px;
    width: 100%;
    z-index: 2;
    padding-top: 1500px; }
  .parallax__cover {
    display: none; }
  .photo-row {
    margin-bottom: 300px; }
  .caption-title {
    font-size: 175px;
    line-height: 100px; }
  .last-caption-title {
    font-size: 80px;
    line-height: 50px; }
  .caption {
    font-size: 35px; } }
